.nav {
    padding: 3rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 100;

    &__logo {
        text-transform: uppercase;
        letter-spacing: 1.2px;
        color: $color-2;
    }

    &__menu {
        display: flex;
        align-items: center;

        .lines {
            margin-right: .4rem;
        }

        .line {
            height: .2rem;
            width: 2.2rem;
            margin: 4px;
            background-color: $color-2;
            align-self: center;
        }

        span {
            text-transform: uppercase;
            font-size: 1.25rem;
            font-weight: 700;
            color: $color-2;
            letter-spacing: 2px;
        }
    }

    &__logo {
        img {
            height: 13rem;
            width: 30rem;
        }
    }

    .left-box,
    .right-box {
        position: fixed;
        top: 0;
        height: 100vh;
    }

    .left-box {
        background-color: #f6f6f7;
        left: 0;
        width: 60%;
        transform: translateX(-100%);
        transition: transform .5s ease;
        padding: 10rem 2rem 0 12rem;

        ul {
            a {
                display: inline-block;
                color: $color-4;
                font-size: 5.7rem;
                font-family: 'Cormorant Garamond', serif;
                letter-spacing: -3px;
                font-weight: 300;
                position: relative;

                &::after {
                    content: '';
                    position: absolute;
                    top: 55%;
                    transform: translateY(-60%);
                    left: 0;
                    height: 1px;
                    background-color: $color-1;
                    width: 0;
                    transition: all .5s ease;
                }
            }

            a.active {
                &::after {
                    width: 100%;
                }
            }

            a:hover {
                &::after {
                    width: 100%;
                }
            }
        }
    }

    .left-box.active {
        transform: translateX(0);
    }

    .right-box {
        background-image: linear-gradient(180deg, #1b1c1e, #1b1c1e);
        right: 0;
        width: 40%;
        transform: translateX(100%);
        transition: transform .5s ease;
        padding: 10rem 2rem 0 8rem;

        .close {
            display: block;
            background: transparent;
            border: none;
            cursor: pointer;
            outline: none;
            display: flex;
            align-items: center;

            span {
                display: block;
                color:$color-3;
                text-transform: uppercase;
                letter-spacing: 5px;
                font-family: inherit;
                font-size: 1rem;
            }

            div {
                width: 5rem;
                height: 5rem;
                background-color: #272727;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-left: 1rem;
            }

            img {
                width: 1.5rem;
                height: 1.5rem;
            }
        }

        .community {
            margin-top: 15rem;
            color: $color-3;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            column-gap: 1rem;

            p {
                position: relative;

                &::before {
                    content: '';
                    position: absolute;
                    top: -30%;
                    left: 0;
                    height: 2px;
                    width: 4rem;
                    background-color: hsla(0, 0%, 100%, 0.5);
                }
            }

            .social-icons {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                column-gap: .3rem;
                max-width: 11rem;

                a:hover {
                    img {transform: scale(1.2);}
                }

                img {
                    width: 2rem;
                    transition: transform .3s ease;
                }
            }
        }

        .subscribe {
            margin-top: 9rem;
            color: $color-3;

            h2 {
                font-size: 2.2rem;
                font-weight: 500;
                margin-bottom: 1.5rem;
                letter-spacing: -.2px;
            }

            p {
                font-size: 1.35rem;
                margin-bottom: 2rem;
            }

            form {
                display: flex;
            }

            input {
                padding: 1.5rem 2rem;
                font-family: inherit;
                border: none;
                outline: none;
                letter-spacing: 2.5px;
                text-transform: uppercase;

                &::placeholder {
                    text-transform: uppercase;
                    font-size: 1rem;
                    letter-spacing: 1.8px;
                }
            }

            input[type="text"] {
                background: transparent;
                border: 1px solid rgba(246, 246, 247, 0.25);
                border-top-left-radius: 3px;
                border-bottom-left-radius: 3px;
                flex: 1;
                color: $color-3;
                font-size: 1.1rem;
            }

            input[type="submit"] {
                flex-basis: 35%;
                border-top-right-radius: 3px;
                border-bottom-right-radius: 3px;
                background-color: $color-3;
                color: $color-1;
                font-weight: 500;
                font-size: 1rem;
                cursor: pointer;
            }
        }
    }

    .right-box.active {
        transform: translateX(0);
    }
}