.nav {
    padding: 2rem 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    &__menu {
        display: flex;
        align-items: center;

        .lines {
            margin-right: .4rem;
        }

        .line {
            height: .2rem;
            width: 2.2rem;
            margin: 4px;
            background-color: $color-2;
            align-self: center;
        }

        span {
            text-transform: uppercase;
            font-size: 1.25rem;
            font-weight: 700;
            // color: $color-1;
            color: $color-2;
            letter-spacing: 2px;
        }
    }

    &__logo {
        img {
            height: 13rem;
            width: 30rem;
        }
    }
}