// HEADER 
header {
    height: 100vh;

    .hero {
        display: flex;
        align-items: center;
        height: calc(100vh - 8rem);
        overflow-y: hidden;

        &__text-box {
            max-width: 50rem;
            transform: translateX(50%);

            p {
                margin-bottom: 3rem;
            }
        }

        &__image-box {
            background-image: url('../../../assets/yoga-instrucutor.jpg');
            background-size: cover;
            background-position: center;
            height: 100%;
            flex: 1;
        }
    }
}

// SECTIONS
section {
    padding: 15rem 0;

    .h-2 {
        color: $color-9;
        font-size: 6rem;
        line-height: 1.05;
        font-weight: 700;
    }
}

// DISCOVER SECTION
.discover {
    background-image: url('../../assets/bg.jpg');
    background-size: cover;

    .h-2 {
        color: $color-3;
        line-height: 1.5;
    }

    p {
        max-width: 80rem;
        color: $color-3;
        margin-bottom: 5rem;
    }

    h4 {
        color: $color-8;
        font-weight: 400;
        margin-top: 2rem;
    }

    .row-pc {
        display: grid;
        grid-template-columns: repeat(3, 32%);
        gap: 2rem;

        a {
            display: block;
        }

        .paragraph {
            text-transform: uppercase;
            font-size: 1.2rem;
            letter-spacing: .3px;
            margin-top: .7rem;
        }

        p {
            @extend .paragraph;
        }

        .col {

            img {
                transition: transform .3s ease-in-out;
                width: 100%;
            }
        }
    }

    .row-slider {
        display: none;

        p {
            @extend .paragraph;
        }
    }

    a {
        &:hover {
            img {
                transform: scale(1.05);
            }
        }
    }
}

// CTA SECTION
.cta {
    padding: 0;

    .h-2 {
        width: 60rem;
        max-width: 100%;
        margin: 3rem 0 4rem;
    }

    img {
        width: 100%;
    }

    .col {
        height: 65rem;
    }

    .col-1 {
        width: 60%;
        padding: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        
        div {
            width: 60rem;
            max-width: 100%;
        }

        a {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $color-5;
            color: $color-3;
            width: 30rem;
            transition: background-color .3s ease-in-out;

            &:hover {
                background-color: $color-9
            }
        }

        p {
            margin-top: 5rem;
        }
    }

    .col-2 {
        width: 40%;
    }
}

// CLIENTS SECTION
.clients {

    .col {
        height: 40rem;
    }

    .col-1 {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .col-2 {
        padding: 0 5rem;
    }

    &__logos {
        display: grid;
        grid-template-columns: repeat(4, 150px);
        gap: .5rem;

        img {
            width: 100%;
        }
    }

    &__testimonial {
        margin-top: 10rem;
        width: 60%;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            top: -3.8rem;
            height: 4px;
            width: 100%;
            background-color: $color-5;
        }

        > p {
            font-size: 1.6rem;
        }
    }

    &__profile {
        background-color: $color-5;
        margin-top: 3rem;
        padding: 2rem 1.5rem;
        color: $color-3;
        display: flex;
        align-items: center;

        &--photo {
            margin-right: 2rem;
            height: 8rem;
            width: 8rem;
        }

        &--name {
            font-size: 1.6rem;
            font-weight: lighter;
        }

        &--title {
            text-transform: uppercase;
            font-size: 1.3rem;
            letter-spacing: .5px;
        }
    }
}

// PLANS SECTION
.plans {
    .col:first-child {
        display: flex;
        justify-content: center;
        width: 38%;

        span {
            display: block;
            margin-bottom: 1.8rem;
        }
    }

    .col:last-child {
        width: 62%;
        padding: 0 5rem;
    }

    &-box {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem 1.5rem;
    }

    .plan {
        padding: 3rem;
        color: $color-1;
        font-size: 1.38rem;

        &__basic {
            background-color: #f4f7f9;
            border-top: 4px solid $color-5;

            .line {
                background-color: #8b8b8b;
            }

            button {
                border-color: $color-5;

                &:hover {
                    border-color: $color-9;
                }
            }
        }

        &__premium {
            background-color: $color-5;
            border-top: 4px solid $color-5;
            color: $color-3;

            .line {
                background-color: $color-3;
            }

            button {
                border-color: $color-3;

                &:hover {
                    border-color: transparent;
                }
            }
        }

        h3 {
            font-size: 2.2rem;
            margin-bottom: .5rem;
        }

        span {
            display: block;
            margin-bottom: 1.8rem;
        }

        h3, span {
            text-align: center;
        }

        .line {
            height: 1px;
            width: 100%;
        }

        p {
            margin: 2rem 0;
        }

        ul {
            margin: 5rem 0 4rem;
        }

        li {
            font-size: 1.6rem;
            line-height: 1.8;
        }

        button {
            display: block;
            width: 100%;
            color: $color-3;
            background-color: $color-5;
            text-transform: uppercase;
            letter-spacing: 2px;
            border-width: 1px;
            border-style: solid;
            padding: 1.7rem 3rem;
            outline: none;
            cursor: pointer;
            transition: all .3s ease-in-out;

            &:hover {
                background-color: $color-9;
            }
        }
    }
}

// QUOTE SECTION
.quote {

    &-box {
        width: 80rem;
        margin: 0 auto;
        max-width: 100%;
        font-weight: 700;
        font-family: 'Cormorant Garamond', serif;
        color: $color-4;
        line-height: 1.2;
        position: relative;


        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: -14rem;
            width: 10rem;
            height: 10rem;
            background-image: url('../../../assets/left-quote.svg');
            background-size: cover;
            background-repeat: no-repeat;
        }

        p {
            font-size: 6rem;
            margin-bottom: 2rem;
        }

        span {
            font-weight: 700;
        }
    }
}

// FOOTER
.footer {
    background-image: url('../../../assets/bg.jpg');
    color: #e6e6e6;

    &__inner {
        padding: 5rem;
    }

    a {
        color: #e6e6e6;
        text-decoration: underline;
        font-size: 1.3rem;
        font-weight: 500;
    }
}