// HEADER 
header {
    height: 100vh;

    .hero {
        display: flex;
        align-items: center;

        &__text-box {
            position: relative;
            right: -20rem;

            .btn {
                margin-top: 3rem;
            }
        }

        &__image-box {
            flex-basis: 70%
            img {width: 100%;}
        }
    }
}

// SECTIONS
section {
    padding: 15rem 0;
}